
<div md-whiteframe="3">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="md-flex">{{ tituloEncabezado }}</h2>
        </div>
    </md-toolbar>
    <md-content flex layout-padding="" >
        <div layout="row">
            <h1>No. de Registros: <span class="label label-success">{{ personas.length }}</span></h1>
        </div>
        <div layout="row" layout-wrap>
            <div flex="100">
                <md-table-container>
                    <table md-table md-row-select="false" multiple="true" ng-model="selected" md-progress="promise">
                        <thead  md-head md-order="query.order" md-on-reorder="">
                            <tr md-row>
                                <th md-column md-order-by="nombre"><span>Nombre</span></th>
                                <th md-column md-order-by="apellido"><span>Apellido</span></th>
                                <th md-column md-order-by="edad"><span>Edad</span></th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr ng-click="selectPerson(per)" md-row md-select="per" md-on-select="" md-auto-select="true" ng-repeat="per in personas">
                                <td md-cell>{{per.nombre}}</td>
                                <td md-cell>{{per.apellido}}</td>
                                <td md-cell>{{per.edad | number: 0}}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{pers.count}}" md-page-select="true"  md-on-paginate=""></md-table-pagination>
            </div>
            <div flex="100">
                <form name="frm">
                    <div>
                        <md-input-container class="md-block" flex="100">
                            <label>Nombre</label>
                            <input md-maxlength="15" required name="nombre" ng-model="newPersona.nombre">
                            <div ng-messages="frm.nombre.$error">
                                <div ng-message="required">Campo Requerido.</div>
                                <div ng-message="md-maxlength">El texto supera el largo soportado.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex="100">
                            <label>Apellido</label>
                            <input md-maxlength="15" required name="apellido" ng-model="newPersona.apellido">
                            <div ng-messages="frm.apellido.$error">
                                <div ng-message="required">Campo Requerido.</div>
                                <div ng-message="md-maxlength">El texto supera el largo soportado.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex="100">
                            <label>Edad</label>
                            <input md-maxlength="2" required name="edad" ng-model="newPersona.edad">
                            <div ng-messages="frm.edad.$error">
                                <div ng-message="required">Campo Requerido.</div>
                                <div ng-message="md-maxlength">El texto supera el largo soportado.</div>
                            </div>
                        </md-input-container>
                    </div>
                    
                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                        <md-button class="md-raised" ng-click="registrarPersona()" ng-disabled="myForm.$invalid || selected">Registrar</md-button>
                        <md-button class="md-raised md-primary" ng-click="modificarPersona(newPersona)" ng-disabled="!newPersona.nombre || !newPersona.apellido || !newPersona.edad || !selected">Modificar</md-button>
                        <md-button class="md-raised md-warn" ng-click="borrarPersona(newPersona)" ng-disabled="!newPersona.nombre || !newPersona.apellido || !newPersona.edad || !selected">Eliminar</md-button>
                    </section>
                </form>
                
            </div>
        </div>
    </md-content>
</div>



