.menuLateral md-list-item > button {
    width:100%;
    text-align:left !important;
}

.menuLateral md-list .md-button.selected {
    color: #03a9f4;
}

.menuLateral md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
}

.menuLateral md-button.menuBtn > md-icon {
    fill:white;
    width:24px;
    height:24px;
}

.menuLateral .avatar {
    width: 128px;
    height: 128px;
    border: 1px solid #ddd;
    border-radius: 50%;
    zoom: 0.50;
    transform: translateZ(0);
    -webkit-transform: scale(0.70);
    -moz-transform: scale(0.70);
}

.menuLateral md-bottom-sheet  md-icon {
    margin-right:20px;
}

.menuLateral .avatar svg {
    width: 100px;
    height: 100px;
}

.md-grid-item-content svg {
    width: 50px;
    height: 50px;
}

body{
    overflow: hidden;
}

ng-md-icon{
    vertical-align: middle;
}

.subMenu ng-md-icon{
    height: 100%;
    width: 50px;
}

.menuLateral {
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

md-card {
    box-shadow: 0 5px 25px 0 rgba(0,0,0,.26);
}








/*-----------------------css para login---------------------------------*/



hgroup {
	text-align:center;
	margin-top: 4em;
}

h1, h3 { font-weight: 300; }

h1 { color: #636363; }

h3 { color: #4a89dc; }

.loginBox {
  max-width:  90%;
  width: 500px
}

.stretch input  {
  width: 100%
}
