<md-dialog>
    <form layout="column">
        <div ng-include src="'view/plantillas/encabezadoDialogo.html'"></div>
        <md-dialog-content class="md-whiteframe-5dp">
                    <form layout="column" ng-submit="editar()"  layout-align="center center" layout-fill="layout-fill">
                        <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
                        <md-content layout="column" class="md-padding">
                            <md-input-container >
                                <label>Contrasena</label>
                                <input type="password" name="password" title="El campo contrasena es requerido" ng-model="formData.password" required="true"/>
                            </md-input-container>
                            <md-input-container >
                                <label>Nombre</label>
                                <input type="text" name="nombre" title="El campo Nombre es requerido" ng-model="formData.nombre" required="true"/>
                            </md-input-container>
                            <md-input-container >
                                <label>Apellido</label>
                                <input type="text" name="apellido" title="El campo Apellido es requerido" ng-model="formData.apellido" required="true"/>
                            </md-input-container>
                            <md-input-container >
                                <label>Correo</label>
                                <input type="email" name="email" title="El campo correo es requerido" ng-model="formData.email" required="true"/>
                            </md-input-container>
                        </md-content>
                    </form>
                </md-dialog-content>
        <md-dialog-actions layout="row">
            <div layout="row" layout-align="center center" style="padding-top:20px;">
                <md-button ng-click= "actualizar()" class="md-raised md-primary" ng-disabled="disabled" aria-label="Crear Proveedor">Actualizar</md-button>
                <div flex="flex"></div>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
