<md-dialog layout="column">
    <div ng-include src="'view/plantillas/encabezadoDialogo.html'"></div>
    <md-dialog-content class="md-whiteframe-5dp">
        <form layout="column" name="form" ng-submit="actualizar()"  layout flex layout-wrap>
            <md-content layout="column" class="md-padding" layout layout-wrap>
                <md-input-container >
                    <label>Nombre</label>
                    <input type="text" title="Ingrese el nombre" name="nombre" ng-model="formData.nombre" ng-required="true"/>
                    <div ng-messages="form.nombre.$error" role="alert">
                        <div ng-messages-include="view/plantillas/mensajes.html"></div>
                    </div>
                </md-input-container>
                <md-input-container >
                    <label>Apellido</label>
                    <input type="text" title="Ingrese los apellidos" name="apellido" ng-model="formData.apellido" ng-required="true"/>
                    <div ng-messages="form.apellido.$error" role="alert">
                        <div ng-messages-include="view/plantillas/mensajes.html"></div>
                    </div>
                </md-input-container>
                <md-input-container >
                    <label>Correo</label>
                    <input type="email"  title= "Ingrese el correo electronico"  ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"  name="email" ng-model="formData.email" ng-required="true"/>
                    <div ng-messages="form.email.$error" role="alert">
                        <div ng-messages-include="view/plantillas/mensajes.html"></div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Contraseña</label>
                    <input type="password" name="password" title= "Ingrese la contraseña" ng-model="formData.password" ng-required="true"/>
                    <div ng-messages="form.password.$error" role="alert">
                        <div ng-messages-include="view/plantillas/mensajes.html"></div>
                    </div>
                </md-input-container>
            </md-content>
        <md-dialog-actions layout="row">
            <div layout="row" layout-align="center center" style="padding-top:20px;">
                <md-button ng-click= "actualizar()" class="md-raised md-primary"  ng-disabled="form.$invalid"  aria-label="Editar Usuario">Crear</md-button>
                <div flex="flex"></div>
            </div>
        </md-dialog-actions>
        </form>
    </md-dialog-content>
</md-dialog>
