<form layout="column" ng-submit="login()"  layout-align="center center" layout-fill="layout-fill">
  <div class="group">
    <div layout="column" class="loginBox md-whiteframe-z1">
      <md-toolbar>
        <h2 class="md-toolbar-tools"><span>Login</span></h2>
      </md-toolbar>
      <md-content layout="column" class="md-padding">
        <md-input-container >
          <label>Usuario</label>
          <input type="text" name="username" ng-model="loginForm.username" required=""/>
        </md-input-container>
        <md-input-container>
          <label>Contraseña</label>
            <input type="password" name="password" ng-model="loginForm.password" required=""/>
        </md-input-container>
        <div layout="row" layout-align="center center" style="padding-top:20px;">
          <md-button type="submit" class="md-raised md-primary" ng-disabled="disabled">Login</md-button>
          <div flex="flex"></div>
        <md-button href="" md-no-ink="md-no-ink">recordar mi contraseña</md-button>
        </div>
      </md-content>
    </div>
</form>
