<div ng-include src="'view/plantillas/opcionesTabla.html'"></div>
<table datatable="ng" class="table table-bordered table table-hover table-responsive">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-click="selectDataTabla(user)" ng-repeat="user in dataTabla">
            <td>{{ user.username }}</td>
            <td>{{ user.nombre }}</td>
            <td>{{ user.apellido }}</td>
            <td>{{ user.correo }}</td>
        </tr>
    </tbody>
</table>
