<div layout="column" style="max-height:600px" ng-cloak="" class="toolbardemoScrollShrink">
    <div ng-include src="'view/plantillas/encabezadoFormulario.html'"></div>
    <md-dialog-content class="md-whiteframe-5dp">
        <form layout="column" ng-submit=""  layout flex layout-wrap>
            <md-content class="md-padding md-block">
                <div style="margin-bottom: 25px;" layout layout-wrap>
                    <div flex="100" flex-gt-xs="30">
                        <md-autocomplete ng-disabled="false" md-no-cache="noCache" md-search-text="buscarTexto" md-selected-item-change="seleccionarAC(item)" md-items="item in buscarAC(buscarTexto)" md-item-text="item.nombre" md-min-length="0" placeholder="Buscar Cliente">
                            <md-item-template>
                                <span class="item-title">
                                    <span> {{ item.nombre }} </span>
                                    <span> {{item.nit}}</span>
                                    <span> {{ item.direccion }} </span>
                                </span>
                            </md-item-template>
                        </md-autocomplete>
                    </div>
                    <div flex="0" flex-gt-xs="5"></div>
                    <div flex="100" flex-gt-xs="20" ng-show="cliente" >
                        <spam><strong>Nombre: </strong></spam>{{ cliente.nombre}}
                    </div>
                    <div flex="100" flex-gt-xs="20" ng-show="cliente" >
                        <spam><strong>Nit: </strong></spam>{{ cliente.nit}}
                    </div>
                    <div flex="100" flex-gt-xs="20" ng-show="cliente"  >
                        <spam><strong>Direccion: </strong></spam>{{ cliente.direccion }}
                    </div>
                </div>
                <div layout layout-wrap  style="margin-bottom: 25px;">
                    <div flex="100" flex-gt-xs="30" >
                        <md-autocomplete ng-disabled="false" md-no-cache="noCache" md-search-text="buscarTextoproducto" md-selected-item-change="seleccionarACproducto(item)" md-items="item in buscarACproducto(buscarTextoproducto)" md-item-text="item.descripcion" md-min-length="0" placeholder="Buscar Codigo">
                            <md-item-template>
                                <span class="item-title">
                                    <span> {{ item.codigo }} </span>
                                    <span> {{ item.descripcion }} </span>
                                </span>
                            </md-item-template>
                        </md-autocomplete>
                    </div>
                    <div flex="0" flex-gt-xs="5"></div>
                    <div flex="100" flex-gt-xs="20" ng-show="productos" >
                        <spam><strong>Descripcion: </strong></spam>{{ producto.descripcion}}
                    </div>
                    <div flex="100" flex-gt-xs="20" ng-show="productos" >
                        <spam><strong>Marca: </strong></spam>{{ producto.marca}}
                    </div>
                    <div flex="100" flex-gt-xs="20" ng-show="productos"  >
                        <spam><strong>Precio Venta: </strong></spam>{{ producto.precioVenta }}
                    </div>
                    <div flex="0" flex-gt-xs="5" ></div>
                </div>
                <div style="margin-bottom: 25px;" layout layout-wrap>
                    <md-input-container  flex="100" flex-gt-xs="20">
                        <label>Cantidad</label>
                        <input ng-model="dataTemp.cantidad">
                    </md-input-container>
                    <md-input-container flex="15" layout="row" layout-xs="column">
                        <md-button class="md-raised md-primary"  ng-click="agregarDataDetalle()">Agregar</md-button>
                    </md-input-container>
                </div>
                <div layout="row" style="max-height: 300px; min-height: 300px; overflow-y: auto;" layout layout-wrap>
                    <table class="table2" ng>
                        <thead>
                            <tr>
                                <th>Cantidad</th>
                                <th>Descripcion</th>
                                <th>Precio</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="detalle in detalleTabla">
                                <td>{{ detalle.cantidad }}</td>
                                <td>{{ detalle.descripcion }}</td>
                                <td>{{ detalle.precio }}</td>
                                <td>{{ detalle.total }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </md-content>
        </form>
        <div ng-include src="'view/plantillas/pieFormulario.html'"></div>
    </div>
    </md-dialog-content>
