<md-dialog layout="column">
    <div ng-include src="'view/plantillas/encabezadoDialogo.html'"></div>
    <md-dialog-content class="md-whiteframe-5dp">
        <div layout layout-wrap>
            <div flex="100">
                <strong>Cliente:</strong> {{ data.cliente.nombre }}
            </div>
            <div flex="100">
                <strong>Nit:</strong> {{ data.cliente.nit }}
            </div>
            <div flex="100">
                <strong>Direccion:</strong> {{ data.cliente.direccion }}
            </div>
        </div>


        <div layout="row" style="max-height: 250px; min-height: 250px; overflow-y: auto;" layout layout-wrap>
            <table class="table2" ng>
                <thead>
                    <tr>
                        <th>Cantidad</th>
                        <th>Descripcion</th>
                        <th>Precio Unitario</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dt in detalle">
                        <td>{{ dt.cantidad }}</td>
                        <td>{{ dt.producto.descripcion }}</td>
                        <td>{{ dt.precio | currency: 'Q: '}}</td>
                        <td>{{ (dt.cantidad * dt.precio) | currency: 'Q: '}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <strong>Total:</strong> {{ data.total | currency: 'Q: ' }}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </md-dialog-content>
</md-dialog>
