<strong>Cliente:</strong> {{ venta.cliente.nombre }} <strong>Nit:</strong> {{ venta.cliente.nit }}
<strong>Direccion:</strong> {{ venta.cliente.direccion }}

<div layout="row" style="max-height: 250px; min-height: 250px; overflow-y: auto;" layout layout-wrap>
    <table class="table2" ng>
        <thead>
            <tr>
                <th>Cantidad</th>
                <th>Descripcion</th>
                <th>Precio Unitario</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="detalle in formData.detalle">
                <td>{{ detalle.cantidad }}</td>
                <td>{{ detalle.descripcion }}</td>
                <td>{{ detalle.precio | currency: 'Q: '}}</td>
                <td>{{ (detalle.cantidad * detalle.precio) | currency: 'Q: '}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <strong>Total:</strong> {{ venta.total | currency: 'Q: ' }}
                </td>
            </tr>
        </tfoot>
    </table>
</div>
