<form layout="column" ng-app="seminarioUmg" layout-align="center center" layout-fill="layout-fill">
    <div layout="column" class="loginBox md-whiteframe-z1">
      <md-toolbar>
        <h2 class="md-toolbar-tools"><span>Permisos</span></h2>
      </md-toolbar>
        <md-content layout="column" class="md-padding">
          <div ng-controller="permisoController" class="md-padding selectdemoOptionGroups" ng-cloak="" ng-app="seminarioUmg">
            <div>
              <div layout="row">
                <md-input-container style="margin-right: 10px;">
                  <label>Usuario</label>
                  <md-select ng-model="size">
                    <md-option ng-repeat="size in sizes" value="{{size}}">{{size}}</md-option>
                  </md-select>
                </md-input-container>
                <md-input-container>
                  <label>Modulos</label>
                  <md-select ng-model="selectedToppings" multiple="">
                    <md-optgroup label="Modulos">
                    <md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'mod' }">{{topping.name}}</md-option>
                  </md-select>
                </md-input-container>
              </div>
              <p ng-if="selectedToppings">los modulos para {{size.toLowerCase()}} son
              {{printSelectedToppings()}}.</p>
            </div>
          </div>
        </md-content>
    </div>
</form>
