<md-dialog>
    <form layout="column">
        <div ng-include src="'view/plantillas/encabezadoDialogo.html'"></div>
        <md-dialog-content class="md-whiteframe-5dp">
                    <form layout="column" ng-submit="actualizar()"  layout-align="center center" layout-fill="layout-fill">
                        <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
                        <md-content layout="column" class="md-padding">
                            <md-input-container >
                                <label>Codigo</label>
                                <input type="text" name="codigo" title="El campo Codigo es requerido" ng-model="formData.codigo" required="true"/>
                            </md-input-container>
                            <md-input-container >
                                <label>Descripcion</label>
                                <input type="text" name="descripcion" title="El campo Descripcion es requerido" ng-model="formData.descripcion" required="true"/>
                            </md-input-container>
                            <md-input-container >
                                <label>Marca</label>
                                <input type="text" name="marca" title="El campo Marca es requerido" ng-model="formData.marca" required="true"/>
                            </md-input-container>
                            <md-input-container >
                                <label>Precio Venta</label>
                                <input type="text" name="precio_venta" title="El campo Precio Venta es requerido" ng-model="formData.precio_venta" required="true"/>
                            </md-input-container>
                            <md-input-container >
                                <label>Existencia Minima</label>
                                <input type="text" name="existencia_minima" title="El campo Existencia Minima es requerido" ng-model="formData.existencia_minima" required="true"/>
                            </md-input-container>
                        </md-content>
                    </form>
                </md-dialog-content>
        <md-dialog-actions layout="row">
            <div layout="row" layout-align="center center" style="padding-top:20px;">
                <md-button ng-click= "actualizar()" class="md-raised md-primary" ng-disabled="disabled" aria-label="Crear Producto">Crear</md-button>
                <div flex="flex"></div>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
