<md-dialog layout="column">
    <div ng-include src="'view/plantillas/encabezadoDialogo.html'"></div>
    <md-dialog-content class="md-whiteframe-5dp">
        <form layout="column" name="form" novalidate layout flex layout-wrap>
            <md-content layout="column" class="md-padding" layout layout-wrap>
                <md-input-container flex="100">
                    <label>Codigo</label>
                    <input type="text" name="codigo"  ng-model="formData.codigo" ng-required="true"/>
                    <div ng-messages="form.codigo.$error" role="alert">
                        <div ng-messages-include="view/plantillas/mensajes.html"></div>
                    </div>
                </md-input-container>
                <md-input-container flex="100">
                    <label>Descripcion</label>
                    <input type="text" name="descripcion" ng-model="formData.descripcion" ng-required="true"/>
                    <div ng-messages="form.descripcion.$error" role="alert">
                        <div ng-messages-include="view/plantillas/mensajes.html"></div>
                    </div>
                </md-input-container>
                <md-input-container flex="100">
                    <label>Marca</label>
                    <input type="text" name="marca" ng-model="formData.marca"/>
                    <div ng-messages="form.marca.$error" role="alert">
                        <div ng-messages-include="view/plantillas/mensajes.html"></div>
                    </div>
                </md-input-container>
                <md-input-container flex="100">
                    <label>Precio Venta</label>
                    <input type="text" name="precio_venta" ng-model="formData.precio_venta" ng-required="true"/>
                    <div ng-messages="form.precio_venta.$error" role="alert">
                        <div ng-messages-include="view/plantillas/mensajes.html"></div>
                    </div>
                </md-input-container>
                <md-input-container flex="100">
                    <label>Existencia Minima</label>
                    <input type="text", name="existencia_minima" ng-model="formData.existencia_minima" ng-required="true"/>
                    <div ng-messages="form.existencia_minima.$error" role="alert">
                        <div ng-messages-include="view/plantillas/mensajes.html"></div>
                    </div>
                </md-input-container>
            </md-content>
            <md-dialog-actions layout="row">
                <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <md-button ng-click= "actualizar()" class="md-raised md-primary" ng-disabled="form.$invalid" aria-label="Actualizar Producto">actualizar</md-button>
                    <div flex="flex"></div>
                </div>
            </md-dialog-actions>
        </form>
    </md-dialog-content>
</md-dialog>
