<div ng-include src="'view/plantillas/opcionesTabla.html'"></div>
<table datatable="ng" dt-options="dtOptions" class="table table-bordered table table-hover table-responsive">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Descripcion</th>
            <th>Precio Venta</th>
            <th>Precio Costo</th>
            <th>Existencia</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-click="selectDataTabla(producto)" ng-repeat="producto in dataTabla">
            <td>{{ producto.codigo }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.precioVenta }}</td>
            <td>{{ producto.precioCosto }}</td>
            <td>{{ producto.existencia }}</td>
        </tr>
    </tbody>
</table>
