<!DOCTYPE html>
<html lang="en"  ng-app="seminarioUmg" >
<head>
    <title>Control de Escuela / Guarderia</title>
    <meta charset="UTF-8">
    <meta content="initial-scale=1 maximum-scale=1 user-scalable=no" name="viewport" />
    <meta content="width=device-width height=device-height" name="size">
    <!-- build:css css/style.min.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="lib/angular-material/angular-material.css" />
    <link rel="stylesheet" href="lib/angular-material-icons/angular-material-icons.css" />
    <link rel="stylesheet" href="lib/angular-material-data-table/dist/md-data-table.css" />
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/app.css">
    <!-- endinject -->
    <!-- endbuild -->
</head>

<body layout="column" ng-controller="MainController" ng-cloak>
    
    <md-toolbar layout="row">
        <md-button class="menu" hide-gt-sm ng-click="toggleMenu()" aria-label="Show User List">
            <ng-md-icon icon="reorder"></ng-md-icon>
        </md-button>
        <h1 style="margin-left:15px">Control APP</h1>
    </md-toolbar>
    <div flex layout="row">
        <md-sidenav  ng-click="toggleMenu()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2 menuLateral">
            <md-list>
                <md-list-item ng-repeat="mn in menu">
                    <md-button ng-click="verLink(mn.link)">
                        <ng-md-icon icon="{{mn.icono}}" class="avatar"></ng-md-icon>
                        {{mn.titulo}}
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button ng-click="getCatalogos()">
                        <ng-md-icon icon="view_compact" class="avatar"></ng-md-icon>
                        Catalogos
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button ng-click="getConsultas()">
                        <ng-md-icon icon="format_list_bulleted" class="avatar"></ng-md-icon>
                        Consultas
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button ng-click="getGraficas()">
                        <ng-md-icon icon="developer_dashboard" class="avatar"></ng-md-icon>
                        Graficas
                    </md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>
        
        <md-content id="content" ng-view layout="column" layout-margin='40px' flex>
        </md-content>
    </div>
    <!-- build:js js/vendor.min.js -->
    <!-- bower:js -->
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-messages/angular-messages.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/angular-aria/angular-aria.js"></script>
    <script src="lib/angular-material/angular-material.js"></script>
    <script src="lib/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="lib/angular-material-data-table/dist/md-data-table.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js js/app.min.js -->
    <!-- inject:js -->
    <script src="/js/app.js"></script>
    <script src="/js/route.js"></script>
    <script src="/js/controller/autController.js"></script>
    <script src="/js/controller/mainController.js"></script>
    <script src="/js/service/mainService.js"></script>
    <script src="/js/service/user.js"></script>
    <script src="/js/controller/catalogos/catalogo.js"></script>
    <script src="/js/controller/catalogos/consultas.js"></script>
    <script src="/js/controller/catalogos/graficas.js"></script>
    <script src="/js/controller/persona/persona.js"></script>
    <script src="/js/service/persona/persona.js"></script>
    <!-- endinject -->
    <!-- endbuild -->
</body>
</html>
