<table datatable="ng" dt-options="dtOptions" class="table table-bordered table table-hover table-responsive">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Descripcion</th>
            <th>Marca</th>
            <th>Existencia</th>
            <th>Existencia Minima</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-click="selectDataTabla(producto)" ng-repeat="producto in dataTabla">
            <td>{{ producto.codigo }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.marca }}</td>
            <td class="right">{{ producto.existencia }}</td>
            <td class="right">{{ producto.existencia_minima }}</td>
        </tr>
    </tbody>
</table>
