<md-dialog layout="column">
        <div ng-include src="'view/plantillas/encabezadoDialogo.html'"></div>
        <md-dialog-content class="md-whiteframe-5dp">
            <form layout="column" name="form" ng-submit="crearRegistro()"  layout flex layout-wrap>
                <md-content layout "column" class="md-padding" layout layout-wrap>
                            <md-input-container flex="100">
                                <label>Nit</label>
                                <input md-autofocus type="text" title="Ingrese el numero de Nit" name="nit" ng-model="formData.nit" required="true"/>
                                <div ng-messages="form.nit.$error" role="alert">
                                    <div ng-messages-include="view/plantillas/mensajes.html"></div>
                                </div>
                            </md-input-container >
                            <md-input-container flex="100">
                                <label>Empresa</label>
                                <input type="text" name="empresa" title="Ingrese el nombre de la empresa" ng-model="formData.empresa" required="true"/>
                                <div ng-messages="form.empresa.$error" role="alert">
                                    <div ng-messages-include="view/plantillas/mensajes.html"></div>
                                </div>
                            </md-input-container>
                            <md-input-container flex="100">
                                <label>Telefono Empresa</label>
                                <input type="text" name="telefono" ng-pattern="/^[0-9]{1,11}$/" title="ingrese el telefono de la empresa" ng-model="formData.telefono_empresa" required="true"/>
                                <div ng-messages="form.telefono_empresa.$error" role="alert">
                                    <div ng-messages-include="view/plantillas/mensajes.html"></div>
                                </div>
                            </md-input-container>
                            <md-input-container flex="100">
                                <label>Contacto</label>
                                <input type="text" name="contacto" title="Ingrese el nombre del contacto" ng-model="formData.contacto"/>
                                <div ng-messages="form.contacto.$error" role="alert">
                                    <div ng-messages-include="view/plantillas/mensajes.html"></div>
                                </div>
                            </md-input-container>
                            <md-input-container flex="100">
                                <label>Telefono Contacto</label>
                                <input type="text" name="telefono2" ng-pattern="/^[0-9]{1,11}$/" title="Ingrese el telefono del contacto" ng-model="formData.telefono_personal">
                                <div ng-messages="form.telefono_personal.$error" role="alert">
                                    <div ng-messages-include="view/plantillas/mensajes.html"></div>
                                </div>
                            </md-input-container>
                            <md-input-container flex="100">
                                <label>Direccion</label>
                                <input type="text" name="direccion" title="Ingrese la direccion" ng-model="formData.direccion" required="true"/>
                                <div ng-messages="form.direccion.$error" role="alert">
                                    <div ng-messages-include="view/plantillas/mensajes.html"></div>
                                </div>
                            </md-input-container>
                            <md-input-container flex="100">
                                <label>correo</label>
                                <input type="email" name="correo" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"  title="Ingrese el correo Electronico" ng-model="formData.correo">
                                <div ng-messages="form.correo.$error" role="alert">
                                    <div ng-messages-include="view/plantillas/mensajes.html"></div>
                                </div>
                            </md-input-container>
                        </md-content>
                        <md-dialog-actions layout="row">
                            <div layout="row" layout-align="center center" style="padding-top:20px;">
                                <md-button ng-click= "crearRegistro()" class="md-raised md-primary" ng-disabled="form.$invalid" aria-label="Crear Proveedor">Crear</md-button>
                                <md-button ng-click= "cancel()"  class="md-raised md-warn"  ng-disabled="disabled" aria-label="cancelar">Cancelar</md-button>
                                <div flex="flex"></div>
                            </div>
                        </md-dialog-actions>
                    </form>
            </md-dialog-content>
</md-dialog>
