<div ng-include src="'view/plantillas/opcionesTabla.html'"></div>
<table datatable="ng" class="tablaStyle">
    <thead>
        <tr>
            <th>Nit</th>
            <th>Empresa</th>
            <th>Representante</th>
            <th>Telefono</th>
            <th>Direccion</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-click="selectDataTabla(proveedor)" ng-repeat="proveedor in dataTabla">
            <td>{{ proveedor.nit }}</td>
            <td>{{ proveedor.empresa }}</td>
            <td>{{ proveedor.representante }}</td>
            <td>{{ proveedor.telefono }}</td>
            <td>{{ proveedor.direction }}</td>
        </tr>
    </tbody>
</table>
