<div ng-message="required">Este campo es obligatorio</div>
<div ng-message="maxlength">Ha sobrepasado el limite de caracteres</div>
<div ng-message="md-maxlength">Ha sobrepasado el limite de caracteres</div>
<div ng-message="minlength">No cumple el minimo de caracteres</div>
<div ng-message="pattern">El valor ingresado no es valido en este campo</div>
<div ng-message="passwordMatch">Las contraseñas no coinciden</div>
<div ng-message="max">El valor ingresado es mayor al permitido</div>
<div ng-message="min">El valor ingresado es menor al permitido</div>
