<table datatable="ng" dt-options="dtOptions" class="table table-bordered table table-hover table-responsive">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>proveedor</th>
            <th>Usuario</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-click="selectDataTabla(compra)" ng-repeat="compra in dataTabla">
            <td>{{ compra.fecha_documento }}</td>
            <td>{{ compra.proveedor.empresa }}</td>
            <td>{{ compra.usuario.nombre }}</td>
            <td class="right">{{ compra.total | currency: 'Q '}}</td>
        </tr>
    </tbody>
</table>
