<table datatable="ng" dt-options="dtOptions" class="table table-bordered table table-hover table-responsive">
    <thead>
        <tr>
            <th>codigo</th>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Usuario</th>
            <th>Total</th>
            <th>Detalle</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-click="selectDataTabla(cotizacion)" ng-repeat="cotizacion in dataTabla">
            <td>{{ cotizacion.id }}</td>
            <td>{{ cotizacion.created_at }}</td>
            <td>{{ cotizacion.cliente.nombre }}</td>
            <td>{{ cotizacion.usuario }}</td>
            <td class="right">{{ cotizacion.total | currency: 'Q '}}</td>
            <td> <ng-md-icon icon="pageview" class="info" ng-click="dialogoVerDetalle(cotizacion)"></ng-md-icon> </td>
        </tr>
    </tbody>
</table>
