<table datatable="ng" dt-options="dtOptions" class="table table-bordered table table-hover table-responsive">
    <thead>
        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Usuario</th>
            <th>producto</th>
            <th>Nota</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-click="selectDataTabla(descargas)" ng-repeat="descargas in dataTabla">
            <td>{{ descargas.id }}</td>
            <td>{{ descargas.created_at }}</td>
            <td>{{ descargas.usuario.nombre }}</td>
            <td>{{ descargas.detalle.producto }}</td>
            <td>{{ descargas.nota }}</td>
            <td>{{ descargas.total | currency: 'Q '}}</td>
        </tr>
    </tbody>
</table>
