<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Imprimir cotizacion</title>
    </head>
    <body>
        <div class="center">
            <h1>Cotizacion De Utiles Libreria San Pedro</h1>
            <h4>4a. calle 10-31 Zona 1 Barrio La Parroquia Zacapa Zacapa</h4>
            <h4>NiT: 2420571-0   Telefono: 7941-0537</h4>
            <h4>Telefax: 7941-1111</h4>
        </div>
      <br>
      <div class="rigth">
          <h4>Fecha:</h4>
          <h4>Cliente:</h4>
          <h4>Direccion:</h4>
      </div>
      <table>
          <thead>
              <tr>
                  <th>Codigo</th>
                  <th>Descripcion</th>
                  <th>Marca</th>
                  <th>Precio</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tr>
          </tbody>
      </table>
    </body>
    <br>
    <footer>Libreria San Pedro al servicio de la comunidad</footer>
</html>
